@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html{
    background-color: gray;
}
body{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
header{
    height: 90px;
}
header div.titulo{
    padding: 12px;
}
header div.logo{
    float: right;
    margin: -66px 13px 0px 0px;
}
header div.entrar{
    height: 30px;
    background-color: lightgray;
    text-align: center;
    padding-top: 9px;
}
header div.entrar a{
    text-decoration: none;
    color: black;
}
header div.entrar:hover{
    background-color: rgb(194, 143, 143);
    cursor: pointer;
}

